body {
    background-color: antiquewhite;
}

#container {
    text-align: center;
}

#timer, #scoreAndRecord, #pressArrowsToStart {
    font-family: "Permanent Marker", cursive;
    font-size: 25px;
}

#canvas {
    border: 2px solid;
    border-radius: 15px;
}

#playAgain, #info{
    background-color: antiquewhite;
    font-family: "Permanent Marker", cursive;
    font-size: 15px;
    width: 100px;
    height: 50px;
    border: 4px solid;
    border-radius: 15px;
    cursor: pointer;
}

#gameOver, #level {
    font-family: "Permanent Marker", cursive;
    font-size: 25px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 400px;
    height: 200px;
}

#infoText {
    margin: auto;
    padding: 10px;
    font-family: "Permanent Marker", cursive;
    font-size: 15px;
    border: 4px solid;
    border-radius: 15px;
    width: 250px;
    height: 110px;
}

