#container {
    text-align: center;
}

#scoreAndRecord, #timer {
    font-family: "Permanent Marker", cursive;
    font-size: 25px;
}

#playAgain, #info {
    font-family: "Permanent Marker", cursive;
    font-size: 15px;
    width: 100px;
    height: 50px;
    border: 4px solid;
    border-radius: 15px;
    cursor: pointer;
}

#infoDiv {
    text-align: center;
    font-family: "Permanent Marker", cursive;
    font-size: 15px;
    border: 4px solid;
    border-radius: 15px;
    width: 200px;
    height: 150px;
}

#canvas {
    border: 2px solid;
    border-radius: 15px;
}